:root{
    --bg-color: #0a1a3a;
    --text-color: #f0f0f0; 
    --accent-color: #a5b4fc; 
    --link-hover-color: #1e40af;
    --font-stack: 'helvetica neue', helvetica, arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-stack);
    line-height: 1.5;
    color: var(--text-color); 
    background-color: var(--bg-color); 
    text-align: center;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

header h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: var(--accent-color); 
}

nav {
    display: flex;
    justify-content: center; 
    gap: 25px;
    padding: 15px 0;
    flex-wrap: wrap;
}

nav a {
    color: var(--text-color); 
    transition: color 0.3s;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: var(--link-hover-color); 
}

.carry-items-container {
    display: flex;
    justify-content: center; 
    gap: 40px; 
    margin-top: 50px;
    margin-bottom: 50px;
}

.carry-item {
    text-align: center;
    max-width: 200px;
}

.carry-image {
    width: 180px; 
    height: 180px; 
    object-fit: cover;
    border: 2px solid var(--accent-color); 
    margin-bottom: 10px;
    display: block;
}


figcaption {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color); 
}

.carry-item a {
    text-decoration: none;
    color: var(--text-color); 
}


main { 
    padding: 40px 20px;
    text-align: center; 
}

h1, h2 {
    color: var(--accent-color); 
    margin-bottom: 20px;
    margin-top: 30px;
}

main img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    margin: 20px auto;
    display: block; 
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #0f172a;
    color: white;
    margin-top: 40px;
}

main ul{
    display: inline-block;
    text-align: left;
    margin: 0 auto;
}